// System wide vars.

$black = #212121
$slate = #44605c

$mobile-portrait = 480px
$mobile = 567px
$mobile-landscape = 600px
$tablet = 767px
$tablet-portait = 1024px
$container = 991px
$page-wrapper = 1200px
